html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font-reg;
  line-height: 1.65;
  font-size: $base-font-size / 16 * 100%;
  font-weight: $base-font-weight;
  -webkit-font-smoothing: antialiased;
}

// copy and lists
p {
  line-height: $leading;
  //margin-top: $leading;
  margin-bottom: 0;
}

h2 + p, h3 + p, h4 + p {
  margin-top: $leading/4;
}

ul, ol {
  margin-top: $leading;
  margin-bottom: $leading;
}

ul li, ol li {
  line-height: $leading;
}

ul ul, ol ol  {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;
}

// heading
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
  margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
  font-weight: $bold-font-weight;
  color: $gray-dark;
}

extra-large {

  font-size: 5 * $scale * 1rem;
line-height: 2 * $leading;
margin-top: 2 * $leading;

}
h1 {
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  //margin-top: 1 * $leading;
}

h2 {
  font-size: 1.5 * $scale * 1rem;
  line-height: 1.5 * $leading;
  //margin-top: 1 * $leading;
}

h3 {
  font-size: 1.25 * $scale * 1rem;
}

h4 {
  font-size: 0.7 * $scale * 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;

}

h5 {
  font-size: $scale / 3 * 1rem;
}
h6 {
  font-size: $scale / 4 * 1rem;
}

// links
a {
  color: $brand-primary;
  text-decoration: none;
  transition: color 0.25 ease-in-out;
  text-decoration: underline;

}

a:hover {
  color: darken($brand-primary, 15%);
}

// images and figures
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: $leading;
  margin-bottom: $leading;
}

figure img {
  display: block;
}

figcaption {
  margin-top: 0.5rem;
  text-align: center;
}

// other
code {
  background-color: $gray-light;
  padding: 2px 4px;
  vertical-align: bottom;
  font-size: $scale * 0.85rem;
}

#inner {
  width: 50%;
  margin: 0 auto;
}

.rotate-90 {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.rotate2 {

/* Safari */
-webkit-transform: rotate(20deg);

/* Firefox */
-moz-transform: rotate(20deg);

/* IE */
-ms-transform: rotate(20deg);

/* Opera */
-o-transform: rotate(20deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


//.grid-container {
  //padding-top: 50px;
  //display: grid;
  //grid-template-columns: auto auto auto;
  //background-color: #ffffff;
  //padding: 10px;
  //transform: translateY(50px);
//.grid-item {
  //padding-top: 20px;
  //background-color: rgba(255, 255, 255, 1);
  //border: 1px solid rgba(0, 0, 0, 1);
  //padding: 12px;
  //font-size: 24px;
  //text-align: center;
//}

.box {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 0.5px solid black;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.5fr 1fr;
  margin: 0 0px 3% 25%;
//width: 1000px;
//justify-content: center;

}

.grid .box:nth-of-type(4) {
  background-color: white;
  grid-column: span 4;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Safari */
  -webkit-transform: rotate(20deg);

  /* Firefox */
  -moz-transform: rotate(20deg);

  /* IE */
  -ms-transform: rotate(20deg);

  /* Opera */
  -o-transform: rotate(20deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
