.header {
  //padding-top: 10;
  font-size: $text-header;
  //position: fixed;
  //top: 0;
  //width: 100%
  padding: 10px 16px;
  position: fixed;
        top: 0;
        left: 0;
        width: 100%;

}
// logo
.header-logo a {
  color: $text-color;
}


// navigation
.nav ul {
  list-style-type: none;
  padding: 10;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 1rem;
}

.nav li:last-of-type {
  margin-right: 0;
}

.nav a {
  color: #000000;
}

.nav .active {
  color: $text-color;
  border-bottom: 1px solid $brand-primary;
}



// layout on larger screens
@include mq($large-screen) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header-logo {
    width: 30%;
  }

  .header-menu {
    width: 70%;
    text-align: right;
  }
}
