---
layout: default
---

<div>
  <p class="centered"> ☞ This is a journal dedicated to recording the<br> Masters of Design for Emergent Futures at IaaC</p>
  <h4><a href="{{ reflection.url | relative_url }}">{{ reflection.number }}</a></h4>

  {% for reflection in site.reflections %}
  <div class="grid center">
    <h2 class="box"><a href="{{ reflection.url | relative_url }}">{{ reflection.number }}</a></h2>
    <h2 class="box"><a href="{{ reflection.url | relative_url }}">{{ reflection.title }}</a></h2>
    <h4 class="box"><a href="{{ reflection.url | relative_url }}">{{ reflection.period }}</a></h4>
    </div>

    {% endfor %}
</div>
